* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  color: #252525;
  gap: 16px;
}

p {
  margin: 8px 0;
}

.muted {
  color: #555;
}

a:link,
a:active,
a:visited {
  color: rgb(0, 81, 255);
}

.screen-reader {
  display: none;
}

nav {
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid #252525;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 1.25rem;
}

nav a.brand {
  text-decoration: none;
  color: #252525;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 0;
  line-height: 0;
}

nav ul li a:link,
nav ul li a:active,
nav ul li a:visited {
  text-decoration: underline;
  color: rgb(0, 81, 255);
}

nav ul li img {
  border-radius: 100%;
  border: 1px solid #252525;
}

nav ul input[type="text"] {
  border: 1px solid #aaa;
  background: #f8f8f8;
  padding: 6px 8px;
  width: 210px;
  transition-duration: 300ms;
  transition-property: width;
  transition-timing-function: ease-out;
  font-size: 0.9rem;
}

nav ul .search-bar-container {
  position: relative;
}

nav ul .search-bar-container::before {
  content: "Ctrl + K";
  position: absolute;
  top: 5px;
  right: 6px;
  border: 1px solid #aaa;
  color: #252525;
  padding: 2px 4px;
  font-size: 0.9rem;
  font-family: "Courier New", Courier, monospace;
  background: white;
  line-height: 1;
  opacity: 1;
  transition: opacity;
  transition-duration: 300ms;
  pointer-events: none;
}

nav ul a svg {
  color: #252525;
}

nav ul .search-wrapper:focus-within .search-bar-container::before {
  opacity: 0;
}

nav ul .search-wrapper:focus-within input[type="text"] {
  outline: none;
  border: 1px solid #252525;
  width: 250px;
}

nav .search-wrapper {
  position: relative;
}

nav .search-wrapper .search-results {
  position: absolute;
  width: 100%;
  box-shadow: #25252550 2px 5px 7px;
}

nav .search-results ul {
  display: block;
  padding: 0;
  border: 1px solid #252525;
  background: white;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  height: fit-content;
  line-height: 1.5;
  border-top: 0;
}

div {
  display: block;
}

nav .search-results ul li {
  display: block;
  width: 100%;
  height: fit-content;
}

nav .search-results ul li p {
  margin: 0;
}

nav .search-results ul li.none-found {
  padding: 6px;
}

nav .search-results ul li p.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

nav .search-results ul li p.muted {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

nav .search-results ul li:not(:first-child) {
  border-top: 1px solid #252525;
}

nav .search-results ul a:link,
nav .search-results ul a:active,
nav .search-results ul a:visited {
  display: block;
  width: 100%;
  padding: 6px;
  color: #252525;
  text-decoration: none;
}

nav .search-results ul a:focus,
nav .search-results ul a:hover {
  background: #fffff4;
  outline: none;
}

nav ul input[type="text"]:focus {
  width: 230px;
}

nav ul input[type="text"]::placeholder {
  color: #444;
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer {
  border-top: 1px solid #999;
  width: 100%;
  margin-top: auto;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.3;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 776px;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead th {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #999;
}

table tbody td {
  padding: 8px;
  border-bottom: 1px solid #999;
}

.text-right {
  text-align: right;
}

button.button,
a.button {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  background-color: white;
  color: #252525;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
  border: 1px solid #252525;
  font-weight: 600;
  line-height: 1.4;
  font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
}

button.button:hover,
a.button:hover {
  background: #252525;
  color: white;
  cursor: pointer;
}

a.black {
  color: #252525;
}

.badge {
  background: #252525;
  color: white;
  font-size: 0.9rem;
  padding: 2px 6px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.my-8 {
  margin: 8px 0;
}

.mb-16 {
  margin-bottom: 16px;
}

form .form-group {
  display: flex;
  flex-direction: column;
}

form .form-group label {
  font-weight: 600;
  margin-bottom: 2px;
  font-size: 0.9rem;
}

form input[type="text"],
form input[type="email"] {
  padding: 6px 8px;
  border: 1px solid #aaa;
  width: 100%;
  transition-duration: 300ms;
}

form textarea {
  padding: 6px;
  border: 1px solid #aaa;
  resize: vertical;
  max-height: 400px;
  min-height: 200px;
  font-size: 1rem;
}

form input {
  font-size: 1rem;
}

form textarea::placeholder,
form input[type="text"]::placeholder,
form input[type="email"]::placeholder {
  color: #666;
  font-size: inherit;
  font-family: Georgia, "Times New Roman", Times, serif;
}

form textarea:focus,
form input:focus {
  outline: none;
  border: 1px solid #252525;
}

.banner {
  border: 1px solid;
  padding: 4px 8px;
}

.banner.success {
  border-color: #4caf50;
  background: #f0fff4;
}

.banner.success::before {
  content: "Success: ";
  font-weight: bold;
  color: #338a36;
}

.banner.error {
  border-color: #e05252;
  background: #fff1f1;
}

.banner.error::before {
  content: "Error: ";
  font-weight: bold;
  color: #e05252;
}

ul.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs > *:not(:last-child)::after {
  content: "/";
  margin: 0 4px;
  padding-left: 2px;
  color: #999;
}

ul.breadcrumbs a {
  color: #252525;
}

.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

@media (max-width: 600px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}

.content-list-view {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.content-list-view > li {
  padding: 8px;
  border: 1px solid #252525;
}

.content-list-view img {
  max-width: 100%;
}

.button.error {
  border-color: #cc4e4e;
  color: #cc4e4e;
}

.button.error:hover {
  background: #cc4e4e;
  color: white;
}
