<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wordford</title>
    {% include "shared/head.html" %}
  </head>
  <body>
    <nav>
      <div class="container">
        <h1>Wordford</h1>
        <ul>
          <li>
            <input
              id="search_bar"
              type="text"
              placeholder="Search applications..."
            />
          </li>
          <li>
            <a href=""
              ><img
                src="https://avatars.githubusercontent.com/u/104793781?v=4"
                width="32"
                height="32"
                alt="profile image"
            /></a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="container">{{ homepage_content|safe }}</main>
    <footer><div class="container">{{footer_content|safe }}</div></footer>
  </body>
</html>
