<meta charset="UTF-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta
  content="Wordford is a Content Management System (CMS) designed to help you manage your content efficiently and effectively."
  name="description"
/>
<meta content="Wordford, Content Management System, CMS" name="keywords" />
<meta content="@marcellodotgg" name="author" />

<!-- Twitter Card data -->
<meta
  content="https://avatars.githubusercontent.com/u/104793781?v=4"
  name="twitter:card"
/>
<meta content="@marcellodotgg" name="twitter:site" />
<meta content="Wordford" name="twitter:title" />
<meta
  content="Content Management System (CMS) for Efficient Content Management"
  name="twitter:description"
/>
<meta content="@marcellodotgg" name="twitter:creator" />
<meta
  content="https://avatars.githubusercontent.com/u/104793781?v=4"
  name="twitter:image"
/>

<!-- Open Graph data -->
<meta content="Wordford" property="og:title" />
<meta
  content="Content Management System (CMS) for Efficient Content Management"
  property="og:description"
/>
<meta
  content="https://avatars.githubusercontent.com/u/104793781?v=4"
  property="og:image"
/>
<meta content="https://wordford.com" property="og:url" />
<meta content="website" property="og:type" />

<!-- Scripts -->
<script src="/assets/htmx@2.0.4.min.js"></script>
<!-- Styles -->
<link rel="stylesheet" href="/assets/main.css" />
